:root {
  --main-color: #5abfab;
  --main2-color: #5a6f80;
  --main3-color: #eff8ff;
  --main-lineheight: 1.5;
  --main-transition: .3s;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  text-transform: capitalize;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 30px;
  margin: 0 auto;
}

/* header */
header {
  background-color: var(--main-color);
}

header .container {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-size: 14px;

}

header .container .location {
  color: white;
}


header .container .location i {
  margin-left: 10px;
}

header .container .location a {
  color: inherit;
}

@media (max-width:768px) {

  header .container .location a {
    display: none;
  }
}

header .container ul.icon {
  display: flex;
}

header .container ul.icon li {
  margin-left: 10px;
}

header .container ul.icon li i {
  color: white;
}

/* nav */
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main2-color);
}

@media (max-width:991px) {

  nav .container {
    flex-direction: column;
  }
}

nav .logo {
  display: flex;
}

nav .logo img {
  width: 100px;
}

nav .logo .text {
  margin: 20px;
}

nav .logo .text h2 {
  margin-bottom: 5px;
  color: var(--main-color);
}

nav .logo .text p {
  font-size: 14px;
}

nav ul.links {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}

@media (max-width:767px) {

  nav ul.links {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, auto);
  }

  nav ul.links>li:nth-child(4) {
    grid-area: 1 / 4 / 3 / 5;
    align-self: center;
  }
}

nav ul.links>li {
  font-size: 17px;
  font-weight: bold;
  padding: 10px;
  border-radius: 50px;
  transition: var(--main-transition);
  border: 2px white solid;
}

nav ul.links>li:hover {
  border-color: var(--main2-color);
}

nav ul.links li a {
  color: var(--main2-color);
}

nav ul.links li.news {
  position: relative;
}

nav ul.links li.news ul.news {
  display: none;
}

nav ul.links li.news:hover ul.news {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 5px;
  border-radius: 15px;
  border: 2px var(--main2-color) solid;
  top: 50px;
  right: 0px;
  transition: var(--main-transition);
  z-index: 2;
}

nav ul.links li ul.news li {
  padding: 6px 2px;
}

nav ul.links li ul.news li:not(:last-child) {
  border-bottom: 1px solid;
}

/* landing */
.landing {
  background-image: url(../img/slide/volunteer-helping-with-donation-box.jpg);
  background-size: cover;
  height: 600px;
  position: relative;
  overflow: hidden;
}

.landing .header-text {
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 65px 75px;
  color: var(--main2-color);
  text-align: right;
}

.landing .container:before {
  content: "";
  background-color: white;
  width: 773px;
  height: 407px;
  position: absolute;
  right: -220px;
  bottom: -114px;
  transform: rotate(320deg);
}

.landing .header-text h1 {
  font-size: 40px;
}

.landing .header-text p {
  font-size: 14px;
}

@media (max-width:767px) {

  .landing .header-text {
    padding: 25px;
  }

  .landing .container:before {
    bottom: -290px;
  }

  .landing .header-text h1 {
    font-size: 30px;
  }

  .landing .header-text p {
    font-size: 12px;
  }
}

/* icons */
section.icons {
  padding: 100px 0px;
}

.icons h2 {
  text-align: center;
  color: var(--main2-color);
  margin-bottom: 30px;
}

.icons .icon-box {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.icons .icon-box img {
  display: block;
}

.icons .icon-box .box {
  padding: 25px 40px;
  border-radius: 10px;
  text-align: center;
  color: var(--main-color);
}

.icons .icon-box .box span {
  font-weight: bold;
}

.icons .icon-box .box:first-child span,
.icons .icon-box .box:last-child span {
  display: block;
}

.icons .icon-box .box:hover {
  box-shadow: 0 10px 50px -5px var(--main2-color);
}

/* storu */
.story {
  background-color: var(--main3-color);
}

.story .container {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  gap: 15px 15px;
  padding: 30px;
}

.story .container div {
  background-color: white;
  border-radius: 10px;
  color: var(--main2-color);
}

.story .img {
  grid-area: 1/1/3/3;
  overflow: hidden;
}

.story .img img {
  height: 100%;
  width: 100%;

}

.story .our-story {
  grid-area: 1/3/1/5;
  padding: 30px;
}

@media (max-width:991px) {

  .story .container {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }


  .story .our-story {
    grid-area: 3/1/3/3;
  }
}

@media (max-width:767px) {

  .story .container {
    grid-template-columns: repeat(2, minmax(135px, 1fr));
  }



  .story .num span {
    font-size: 45px !important;
    margin-top: 45px;
  }
}

.story .our-story h2 {
  font-size: 30px;
}

.story .our-story h4 {
  color: var(--main-color);
  margin: 15px 0;
}

.story p {
  font-size: 14px;
  line-height: var(--main-lineheight);
}


.story .our-mission {
  padding: 30px;
}

.story .our-mission h4 {
  color: var(--main-color);
  margin-bottom: 15px;
}

.story .our-mission p {
  margin-bottom: 10px;
}


.story .our-mission form .chick {
  font-size: 12px;
}

.story .our-mission form .chick input,
.story .our-mission form .chick label {
  margin: 5px;
}


.story .num {
  padding: 30px;
}

.story .num span {
  color: var(--main-color);
  font-size: 70px;
  font-weight: bold;
  display: block;
}

/* snady */
.sandy .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.sandy .container>div {
  max-width: 400px;
  max-height: 500px;
  margin: 40px;
}


.sandy .img {
  overflow: hidden;
  border-radius: 0 0 30px 30px;
  box-shadow: 0px 6px 20px 1px #5a6f808f;
}

.sandy .img img {
  max-width: 100%;
}

.sandy .text {
  color: var(--main2-color);
}

.sandy .text h2 {
  margin: 5px 0;
  font-size: 40px;
}

.sandy .text span {
  font-size: 12px;
  display: block;
  margin-bottom: 40px;
}

.sandy .text p {
  margin-bottom: 20px;
  line-height: var(--main-lineheight);
}

.sandy .text ul.icon {
  display: flex;
  justify-content: center;
}

.sandy .text ul.icon li {
  margin: 20px;
  position: relative;
}

.sandy .text ul.icon li i {
  color: white;
  font-size: 20px;
  position: relative;
}

.sandy .text ul.icon li::before {
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: -10px;
  left: -11px;
  background-color: var(--main2-color);
  position: absolute;
}

/* save lives */
.save-lives {
  background-color: var(--main3-color);
  padding: 100px 0;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
  flex-wrap: wrap;
  color: var(--main2-color);
}

.save-lives::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: var(--main-color);
  left: -25px;
  top: -90px;
}

.save-lives::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 15px solid var(--main2-color);
  bottom: -90px;
}

.save-lives h2 {
  margin: 15px 10px;
  font-size: 35px;
}

.save-lives .buttons {

  margin: 45px 20px;
}

.save-lives .buttons span {
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  overflow: hidden;
  transition: var(--main-transition);
}

.save-lives .buttons span:hover {
  background: var(--main2-color);
  color: white;

}

/* causes */
.causes .container {
  padding: 100px 0;
}

.causes .container h2 {
  text-align: center;
  color: var(--main2-color);
  font-size: 35px;
  margin-bottom: 30px;
}

.causes .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.causes .boxes .box {
  width: 250px;
  border-radius: 20px;
  overflow: hidden;
  margin: 30px;
}

.causes .boxes .box:hover {
  box-shadow: 0px -3px 10px 6px #c2c2c2b5;
}

.causes .boxes .box img {
  width: 100%;
}

.causes .boxes .box p.button {
  text-align: center;
  background-color: var(--main2-color);
  color: white;
  padding: 10px;
}

.causes .boxes .box .text {
  padding: 15px;
}

.causes .boxes .box .text h4 {
  color: var(--main-color);
  margin-bottom: 10px;

}

.causes .boxes .box .text p {
  color: var(--main2-color);
  line-height: var(--main-lineheight);
  font-size: 10px;
}

.causes .boxes .box .text .pris {
  background-color: #eee;
  height: 5px;
  border-radius: 3px;
  margin: 10px 0;
}

.causes .boxes .box .text .pris span {
  background-color: var(--main2-color);
  height: 5px;
  border-radius: 3px;
  display: block;
}

.causes .boxes .box .text .mon {
  display: flex;
  justify-content: space-between;
}

.causes .boxes .box .text .mon span {
  font-weight: bold;
}

/* volunteer */
.volunteer {
  padding: 50px 0;
  position: relative;
  background-color: var(--main2-color);
  overflow: hidden;
}

.volunteer::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: var(--main-color);
  border-radius: 50%;
  right: -35px;
  bottom: -35px;

}

.volunteer .container {
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
}

.volunteer .container>div {
  flex: 1;
  margin: 50px 20px;
}


.volunteer .inp h2 {
  color: white;
  margin-bottom: 25px;
  font-size: 35px;

}

.volunteer .inp .inpute {
  background-color: white;
  border-radius: 15px;
  padding: 40px;

}

.volunteer .inp .inpute h3 {
  margin-bottom: 20px;
}

.volunteer .inp form {
  display: grid;
  grid-template-columns: repeat(2, minmax(120px, 1fr));
  gap: 25px;
}

.volunteer .inp form textarea,
.volunteer .inp form label,
.volunteer .inp form input {
  height: 32px;
  background-color: var(--main3-color);
  border: none;
  padding: 7px;
  box-shadow: 0 0 6px 1px #9e9e9e75;

}

.volunteer .inp form label {
  color: #7d7d7d;
  white-space: nowrap;
  overflow: hidden;

}

.volunteer .inp form textarea {
  height: 100px;
  grid-column: 1/ 3;

}

.volunteer .inp form input:last-child {
  background-color: var(--main2-color);
  width: 100%;
  padding: 4px;
  grid-column: 1/ 3;
  border-radius: 15px;
  color: white;
  border: 3px solid var(--main2-color);
  transition: var(--main-transition);
}

.volunteer .inp form input:last-child:hover {
  color: var(--main2-color);
  background-color: white;
}

.volunteer .inp form input#cv {
  display: none;
}

.volunteer .content {
  text-align: center;
}

@media (max-width:767px) {

  .volunteer .content {
    order: -1;
  }

}

.volunteer .content .img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}

.volunteer .content img {
  height: 200px;
}

.volunteer .content .text {
  color: white;
}

.volunteer .content .text h3 {
  margin: 30px 0 20px;
}

.volunteer .content .text p {
  font-size: 14px;
  line-height: var(--main-lineheight);
}